<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jungsoo.web.dao.UserDAO">
  <!-- Oracle에서 concat()이 안됨 -->
  <sql id="sqlWhere_0"> 
    where 1=1
      <if test="searchType == 'all'.toString()">
        AND ( T_USER_NO LIKE concat('%', #{searchKey}, '%')
          or
          T_USER_NAME LIKE concat('%', #{searchKey}, '%')
          or
          T_USER_BIRTH LIKE concat('%', #{searchKey}, '%')
        )
      </if>
      <if test="searchType == 'userNo'.toString()">
        AND T_USER_NO LIKE concat('%', #{tUserNo}, '%')
      </if>
      <if test="searchType == 'userName'.toString()">
        AND T_USER_NAME LIKE concat('%', #{tUserName}, '%')
      </if>
      <if test="searchType == 'userBirth'.toString()">
        AND T_USER_BIRTH LIKE concat('%', #{tUserBirth}, '%') 
      </if>
  </sql>

  <sql id="sqlWhere">
    where 1=1
      <if test="searchType == 'all'.toString()">
        AND ( T_USER_NO LIKE '%' || #{searchKey} || '%'
          or
          T_USER_NAME LIKE '%' || #{searchKey} || '%'
          or
          T_USER_BIRTH LIKE '%' || #{searchKey} || '%'
        )
      </if>
      <if test="searchType == 'userNo'.toString()">
        AND T_USER_NO like '%' || #{tUserNo} || '%'
      </if>
      <if test="searchType == 'userName'.toString()">
        AND T_USER_NAME like '%' || #{tUserName} || '%'
      </if>
      <if test="searchType == 'userBirth'.toString()">
        AND T_USER_BIRTH like '%' || #{tUserBirth} || '%'
      </if>
  </sql>
  
  <select id="readUser" resultType="user">
  	SELECT * FROM tbl_idcard
	  WHERE T_USER_NO = #{userNo}
  </select>

  <select id="countUser" parameterType="user" resultType="int">
    select count(*) from tbl_user
    <include refid="sqlWhere"></include>
  </select>

  <select id="selectUser-0" parameterType="user" resultType="user">
    select * from tbl_idcard	
    <include refid="sqlWhere_0"></include>
  </select>

  <select id="selectUser" parameterType="user" resultType="user">
    select * from tbl_idcard	
    <include refid="sqlWhere"></include>
  </select>

  <insert id="insertUser" parameterType="user">
    INSERT INTO tbl_idcard (
      T_USER_NO, 
      T_USER_NAME, 
      T_USER_HP,
      T_USER_BIRTH,
      T_REG_DATE
    ) VALUES (
      #{tUserNo},
      #{tUserName},
      #{tUserHp},
      #{tUserBirth},
      to_char(sysdate,'yyyy.mm.dd hh24:mi:ss')
      -- now()
    )
  </insert>

  <!-- jsp에서 변수표현 EL 표기법 ${변수명}, MyBatis에서 변수표현 #{변수명} -->
  <update id="updateUser">
    UPDATE tbl_idcard 
    SET
      <if test="tUserName !='' and tUserName != null">
        T_USER_NAME=#{tUserName},
      </if>
      <if test='tUserHp !="" and tUserHp != null'>
        T_USER_HP=#{tUserHp},
      </if>
      <if test="tUserBirth !='' and tUserBirth != null">
        T_USER_BIRTH=#{tUserBirth},
      </if>
      T_DEL_YN='Y',
      T_DEL_DATE=to_char(sysdate,'yyyy.mm.dd hh24:mi:ss')
      -- T_DEL_DATE=now()
    WHERE 
      T_USER_NO=#{tUserNo}
  </update>

  <delete id="deleteUser">
    DELETE FROM tbl_idcard WHERE T_USER_NO = #{userNo}
  </delete>
  
</mapper>